<!DOCTYPE html>
<html>
  <head>
    <title>MiniJuesgosApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron" style="color:#3498db">
      <div id="jumbotron">
      <h1 align="center">Mini Juegos</h1>
      </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/games/index">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/sign_in" type="button" class="btn btn-md" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container-fluid text-center" id="fondo">    
      <div class="row content">
        <div class="col-sm-8 col-sm-offset-2 text-left"> 
          <div class="container-fluid">
            <div class="row">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
            </div>
            
          </div>
        </div>
        <div class="col-sm-2 sidenav" id="col-izq">
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center">
      <p>Desarrollado por:</p>
      <ul>
        <li>Javier Banguero</li>
        <li>Juan Pablo Ordoñez</li>
        <li>Wilson Montoya</li>
      </ul>
    </footer>



  </body>
</html>
